<div class="nav-wrapper">
  <div class="nav">
    <div id="overview">
      <a href="/" class="logo-wrapper">
        <img src="/img/logo-02.svg" class="img-fluid logo alt hidden-on-desktop" alt="logo" />
        <img src="/img/logo-01.svg" class="img-fluid logo" alt="logo" />
      </a>

      <div id="toggle">
        <span class="bar" id="first"></span>
        <span class="bar" id="second"></span>
        <span class="bar" id="third"></span>
      </div>
    </div>

    <div id="menu">
      <div class="space-3 hidden-on-desktop"></div>

      <div class="links">
        <a href="/" class="{{#if isRootActive}}active{{/if}}">Home</a>
        <a href="/projects" class="{{#if isProjectsActive}}active{{/if}}">Projects</a>
        {{#if isContactActive}}
          <a href="/contact" class="active">
            Contact
          </a>
        {{else}}
          <a data-toggle="modal" data-target="#contactModal" id="contact-btn">
            Contact
          </a>
          <a href="/contact" id="contact-link">
            Contact
          </a>
        {{/if}}
      </div>

      <div class="social">
        <a href="https://facebook.com/cam.cabo" target="_BLANK">
          <img src="/img/logos/fb.svg" alt="Jake Goldman on Facebook">
        </a>
        <a href="https://linkedin.com/in/jake-goldman-b09490127/" target="_BLANK">
          <img src="/img/logos/linkedin.svg" alt="Jake Goldman on LinkedIn">
        </a>
        <a href="https://github.com/jakepgoldman" target="_BLANK">
          <img src="/img/logos/github.svg" alt="Jake Goldman on GitHub">
        </a>
        <a href="mailto:jake.p.goldman@gmail.com">
          <img src="/img/logos/email.svg" alt="Jake Goldman on Email">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="nav-space hidden-on-desktop"></div>
